<div class="card">
    <img style="height: 250px; width: 350px; border-radius: 10px;" src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2019/02/20/12/lfwstreetstyle2002j.jpg?width=1200&auto=webp&quality=75">
    <div class="card-body">
      <h5 class="card-title">women's Fashion</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    </div>
</div>
<button type="button" class="btn btn-dark"><a routerLink="/fashion">Back to Fashion</a></button>