<!-- <p>new-pass-generator works!</p>
<div>
    <label for="length">Length:</label>
    <input type="number" id="length" [(ngModel)]="length">
  </div>
  <div>
    <input type="checkbox" id="includeLetters" [(ngModel)]="includeLetters">
    <label for="includeLetters">Include letters</label>
  </div>
  <div>
    <input type="checkbox" id="includeNumbers" [(ngModel)]="includeNumbers">
    <label for="includeNumbers">Include numbers</label>
  </div>
  <div>
    <input type="checkbox" id="includeSpecial" [(ngModel)]="includeSpecial">
    <label for="includeSpecial">Include special characters</label>
  </div>
  <button (click)="getPassword()">Generate Password</button>
  <div>{{password}}</div>
  
   -->