
<div>
    <div>
      <div>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">USERNAME</th>
              <th scope="col">EMAIL</th>
              <th scope="col">PHONE</th>
              <th scope="col">WEBSITE</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{ finalID.id }}</td>
              <td>{{ finalID.name }}</td>
              <td>{{ finalID.username }}</td>
              <td>{{ finalID.email }}</td>
              <td>{{ finalID.phone }}</td>
              <td>{{ finalID.website }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div>
    <a  routerLink="/user" class="btn btn-info">Go back</a>
  </div>