<div class="card">
    <img style="height: 250px; width: 350px; border-radius: 10px;" src="https://media.istockphoto.com/id/537307742/photo/cute-stylish-children.jpg?s=612x612&w=0&k=20&c=WU-V7DTbtBAYlmknXRaPR3werEx2CjsUgxUjosi3svU=">
    <div class="card-body">
      <h5 class="card-title">Kids Fashion</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
      
    </div>
</div>
<button type="button" class="btn btn-dark"><a routerLink="/fashion">Back to Fashion</a></button>