

<div>
    <div>
      <div>
        <table class="table table-striped ">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">NAME</th>
              <th scope="col">USERNAME</th>
              <th scope="col">EMAIL</th>
              <th scope="col">PHONE</th>
              <th scope="col">WEBSITE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of arrPost">
              <td  scope="row">
                <a [routerLink]="['/userdetails', user.id]">{{ user.id }}</a>
              </td>
              <td>{{ user.name }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.phone }}</td>
              <td>{{ user.website }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
  
  
  