<div class="row">
    <div class="col-md-8">
          <div class="card">
              <img src="https://cdn.shopify.com/s/files/1/0022/0620/3948/files/Vetements_en_cuir_1.jpg?v=1666031370" class="card-img-top" alt="Fridge Image">
              <div class="card-body">
                <h5 class="card-title">Mens Fashion</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content example.</p>
                <a routerLink="men" class="btn btn-primary"> Click to Explore </a>
              </div>
          </div>
  
          <div class="card">
              <img src="https://hips.hearstapps.com/hmg-prod/images/gala-gonzalez-wears-a-tan-color-suede-jacket-a-green-dior-news-photo-1578511763.jpg?resize=480:*" class="card-img-top" alt="Washing Machine">
              <div class="card-body">
                <h5 class="card-title">women's Fashion</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a routerLink="women" class="btn btn-primary"> Click to Explore </a>
              </div>
          </div>
  
          <div class="card">
              <img src="https://images.indianexpress.com/2019/10/girl-fashion.jpg">
              <div class="card-body">
                <h5 class="card-title">Kids Fashion</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk.</p>
                <a routerLink="kids" class="btn btn-primary"> Click to Explore </a>
              </div>
          </div>
          
      </div>
    
    </div>
    <div class="col-md-2">
        <router-outlet></router-outlet>
    </div>