<!-- <app-new-pass-generator id="passComp"></app-new-pass-generator>
<app-ng-for></app-ng-for> -->
<!-- <app-test2 (objFromChild)="onParent($event)"> </app-test2> -->
<!-- [child]="parentToChild" (objFromChild)="onParent($event)" -->
<!-- <div style="text-align: center">
  <h1>Welcome to {{ title }}! {{ name }}</h1>
  <h1>No of employees= {{ empCount }}</h1>
  <app-demo> </app-demo>
  <app-test1></app-test1>
  <br>
  <h2>Today's date is ==> {{ currentTime() }}</h2>
  <br>
<app-test2></app-test2>
</div>
{{ data.name }}<br />
{{ data.dept }} <br />
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-primary">Primary</button>
<br />
<img [src]="imageUrl" alt="" id="img" /> -->
<!-- <router-outlet></router-outlet>
<br>
<app-country-drop-list></app-country-drop-list>
<br>
<app-ng-if></app-ng-if>
<br>
<mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
<!-- <app-directive></app-directive> -->
<!-- <app-login-form></app-login-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-template-registration-form></app-template-registration-form> -->
<!-- <app-react-form2></app-react-form2> -->
<!-- <app-service-assignment></app-service-assignment> -->
<!-- <app-pipe-example></app-pipe-example> -->
<!-- <app-product-filter></app-product-filter> -->
<!-- <div class="container">
<div class="row">
  <div class="col-md-6">
    <div><app-comp1></app-comp1></div>
  </div>
  <div class="col-md-6">
    <div><app-comp2></app-comp2></div>
  </div>
  <div class="col-md-6">
    <div><app-comp3></app-comp3></div>
  </div>
  <div class="col-md-6">
    <div><app-comp4></app-comp4></div>
  </div>
</div>
</div> -->
<!-- <app-aboutus></app-aboutus>
<app-contactus></app-contactus> -->

<!-- <app-product></app-product> -->

<header>
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/home" class="nav-link"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/aboutus" class="nav-link"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/contactus" class="nav-link"
          >Contact Us</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/product" class="nav-link"
          >Product</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/post" class="nav-link"
          >DemoPost</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/user" class="nav-link"
          >User</a
        >
      </li>
      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/fashion" class="nav-link"
          >Fashion</a
        >
      </li>

      <li class="nav-item">
        <a routerLinkActive="active" routerLink="/todo" class="nav-link"
          >To Do</a
        >
      </li>


    </ul>
  </nav>
</header>
<!-- <app-loginform></app-loginform> -->


<br />
<br />
<br />
<!-- <div>
  <div>
    <div>
      <h4>News Table</h4>
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Publisher</th>
            <th>Link</th>

            <th>Uuid</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fin of finarray?.news">
            <td>{{ fin.title }}</td>
            <td>{{ fin.type }}</td>
            <td>{{ fin.publisher }}</td>
            <td>{{ fin.link }}</td>

            <td>{{ fin.uuid }}</td>
          </tr>
        </tbody>
      </table>

      <br />
      <br />
      <br />

      <h4>Quotes Table</h4>
      <table class="table table-dark">
        <thead>
          <tr>
            <th>Industry</th>
            <th>Symbol</th>

            <th>Sector</th>
            <th>ExchDisp</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fin of finarray?.quotes">
            <td>{{ fin.industry }}</td>
            <td>{{ fin.symbol }}</td>
            <td>{{ fin.sector }}</td>
            <td>{{ fin.exchDisp }}</td>
            <td>{{ fin.score }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <!-- <button class="btn btn-danger" (click)="changeFromParent()"> Change From Parent </button>
  <br> <br> <br>
  <app-hooks [parentData]="dataHook"></app-hooks> -->
  <router-outlet></router-outlet>
  <app-search-bar (submitted)="onTerm($event)"></app-search-bar>
<app-page-list [pages]="pages" [isLoading]="isLoading"></app-page-list>