

<div class="row">
    <div class="col-md-12">
        <div class="card" >
            <img class="card-img-top" [src]="cameraImg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Camera</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <button class="btn btn-primary"><a routerLinkActive="active" routerLink="/product" class="nav-link">Go back to products</a></button>
            </div>
        </div>
    </div>
</div>