<div class="card">
    <img style="height: 250px; width: 350px; border-radius: 10px;" src="https://images.indianexpress.com/2018/01/men-fashion-759-filephoto.jpg" class="card-img-top" alt="Mens Image">
    <div class="card-body">
      <h5 class="card-title">Mens Fashion</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content example.</p>
    </div>
</div>
<button type="button" class="btn btn-dark"><a routerLink="/fashion">Back to Fashion</a></button>